* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    align-items: flex-start;
    background: blueviolet;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 800px;

}

.flex-item {
    background: darkred;
    color: #fff;
    width: 100%;
}

.flex-item:nth-child(3) {
    align-self: flex-end;
}

.flex-item:nth-child(4) {
    align-self: center;
}

.flex-item:nth-child(1) {
    background-color: chartreuse;
    align-self: stretch;
}